@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icons {
    @apply relative flex items-center justify-center h-12 w-12 mt-3 mb-3 hover:mt-6 hover:mb-6 mx-auto text-secondary bg-gray-900
            hover:text-gray-900 hover:bg-secondary rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear cursor-pointer;
  }
}

.excalidraw__canvas-wrapper,
.excalidraw__canvas.static {
  pointer-events: none;
  border-radius: 20px;
}

/* Style for the editor container */
.editor-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; */
}

/* Style for the pseudo-rounded background */
.rounded-background {
  background-color: #1e1e1e;
  border-radius: 34px;
  margin-top: 3rem;
  margin-left: 5rem;
  height: 90vh;
}

.lang {
  width: 93vw;
  /* background-color: #1e1e1e; */
}

.langbtn {
  background-color: #1e1e1e;
}

/* Style for the textarea (or any editor element) */

/* div .ql-toolbar.ql-snow {
  @apply flex justify-center sticky top-0 z-10 bg-gray-100 border-none shadow-md;
}
div .ql-container.ql-snow {
  @apply flex rounded-xl justify-center;
}*/

/* div .cl-rootBox cl-signIn-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: red;
} */

/* Dropdown button styles */

div .quill.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div .ql-toolbar.ql-snow {
  width: 8.5in;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1;
  margin-top: 20px;
  z-index: 1;
  background-color: #f1e0dd;
  border: none;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px;
}
div .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

div .ql-editor {
  width: 8.5in;
  height: 88vh;
  /* min-height: 11in; */
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-radius: 15px 15px;
}

@page {
  margin: 1in;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
body {
  overflow: hidden;
  background-color: #1c1919;
}

.ProseMirror {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  overflow: hidden;
}
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
