@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icons {
    @apply relative flex items-center justify-center h-12 w-12 mt-3 mb-3 hover:mt-6 hover:mb-6 mx-auto text-secondary bg-gray-900
            hover:text-gray-900 hover:bg-secondary rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear cursor-pointer;
  }
}

/* .excalidraw__canvas-wrapper, */
/* .excalidraw__canvas.static { */
/* pointer-events: none; */
/* border-radius: 25px; */
/* } */

/* div .ql-toolbar.ql-snow {
  @apply flex justify-center sticky top-0 z-10 bg-gray-100 border-none shadow-md;
}
div .ql-container.ql-snow {
  @apply flex rounded-xl justify-center;
}*/
div .quill.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div .ql-toolbar.ql-snow {
  width: 8.5in;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f1e0dd;
  border: none;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px;
}
div .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

div .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-radius: 15px 15px;
}

@page {
  margin: 1in;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ProseMirror {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
}
